<nav class="div-space-between pe-5 border-top shadow border-primary">
    <div class="bg-blue ">
        <a href="/" class="nav-link text-white fs-2 fw-1 pt-3 px-5"> EXPORT </a>
    </div>
    <div class="">
        <div class="div-space-around py-3" id="">
            <div class="div-space-around">
                <!-- <a href="index.html" class="nav-link">HOME</a> -->
                <a href = '/' class="nav-link">HOME</a>
                <a href="../" class="nav-link">LIST CATALOG</a>
                <!-- <a href="contact.html" class="nav-link">CONTACT</a> -->
            </div>
            <i class="fab fa-whatsapp nav-link ft-green fs-1"></i>
            <a href="https://wa.me/6285368257575?text=Isi Pesan" class ="nav-link dark">+62 852-8198-5995</a>
        </div>
    </div>
</nav>